/* @import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;900");

body {
  animation: 2s test linear infinite;
  font-family: "Lexend Mega", sans-serif;
  margin: 0;
  padding: 4em 0;
  letter-spacing: -0.1em;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

a[href] {
  color: inherit;
  text-decoration: none;
  --accent: #ddd;
  background: var(--accent);
}
a[href]:hover {
  --accent: hsl(44, 100%, 59%);
}

header {
  background: white;
  border: 4px solid black;
  padding: 8px 8px 4px;
}

header > h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
  margin: 0 -2px;
  line-height: 0.8;
  letter-spacing: -0.1em;
}

header > h2 {
  margin: 0 2px;
}

.hero-links {
  text-align: right;
  margin: 0 0 4em;
}

.todo-container h1 {
  margin: 0 0 4px;
  font-weight: 900;
  font-size: 1.5em;
}

.todos > div {
  --accent: #ddd;
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  margin-bottom: 1em;
  box-shadow: 0 6px var(--accent);
  border: 4px solid black;
  padding: 8px;
  position: relative;
}

.todos > div.completed {
  --accent: hsl(44, 100%, 59%);
}
.todos .checkbox input[type="checkbox"] {
  display: none;
}
.todos .checkbox .checkbox-standin {
  height: 32px;
  aspect-ratio: 1;
  /* width: 8px; */
  border-radius: 0;
  margin: 0;
  background: var(--accent);
  cursor: pointer;
}

.todos > div > h3 {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  flex: 1 1 auto;
  position: relative;
}
.todos > div > h3 span {
  position: relative;
}

.todos > div.completed h3 span::after {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  font-weight: bold;
  opacity: 0.2;
  letter-spacing: -0.4em;
  content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
}

.todos > div h3 input {
  width: 100%;
  height: 100%;
  outline: none;
  font: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

.todos > div > button {
  height: 32px;
  aspect-ratio: 1;
  font: inherit;
  border: 0;
  background: #ddd;
  font-size: 0.8em;
  text-transform: uppercase;
  cursor: pointer;
}

.todos > div > button:hover {
  background: hsl(17, 100%, 59%);
}

.add-todo {
  margin-top: 24px;
}
.add-todo form {
  border: 4px solid black;
  display: flex;
}

.add-todo input[type="text"] {
  flex: 1 1 auto;
  font: inherit;
  height: 32px;
  background: 0;
  font-size: 1.2em;
  outline: none;
  border: 0;
  padding: 8px 12px;
  background: hsl(44, 100%, 59%);
}
.add-todo input[type="text"]::placeholder {
  color: rgb(0, 0, 0, 0.5);
}

article {
  margin: 4em 0;
}

footer {
  border: 4px solid black;
  font-size: 0.8em;
  font-weight: 900;
  padding: 8px;
  background: #ddd;
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
}

footer a[href] {
  background: transparent;
}

p {
  line-height: 1.6;
}
